{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}

<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="well">
		<div class="form-group">
			<a class="btn btn-success" href="{% url 'docflow:cash_payment_voucher_add' %}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить расходный ордер на сотрудника</a>
			<a class="btn btn-success" href="{% url 'docflow:cash_payment_voucher_kontragent_add' %}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить расходный ордер на контрагента</a>
		</div>
	</div>
	
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">


			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Расходные ордеры</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>Основание</th>
										<th>Категория</th>
										<th>Кому выдана</th>
										<th>Выданная сумма</th>
										<th>Документы</th>
										<th>Статус</th>
										<th>Комментарии</th>
										<th>Дата</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for i in object_list %}
									<tr>
										<td>{{ i.id }}</td>
										<td>{{ i.name }}</td>
										<td>{{ i.category }}</td>
										<td>
											{% if i.addressee  %}
												{{ i.addressee.user|who }}
											{% else %}
												{{ i.kontragent }}
											{% endif %}
											
										</td>
										<td>{{ i.sum }}</td>
										<td>
											{% if i.docflowfile_set.all %}
												
													<ul class="list-inline margin-top-10">
														{% for f in i.docflowfile_set.all %}
															<li class="well well-sm padding-5">
																<strong>
																	<i class="fa fa-paperclip" aria-hidden="true"></i> {{ f.name }}
																</strong>
																<br>
																{% comment %} <a class="btn btn-success btn-xs" href="{{ f.sourcefile.url }}" target="_blank" download="{{ f.name }}"><i class="fa fa-download"></i></a>  {% endcomment %}
																{% comment %} <a class="btn btn-success btn-xs" href="{{ f.sourcefile.url }}" target="_blank"><i class="fa fa-folder-open-o"></i></a> {% endcomment %}
																{% comment %} <a class="btn btn-danger btn-xs" href="{% url 'docflow:docflowfile_del' f.id %}"><i class="fa fa-remove"></i></a> {% endcomment %}
																<a href="{{ f.sourcefile.url }}" target="_blank" download="{{ f.name }}"><i class="fa fa-download"></i> скачать</a> | 
																<a href="{{ f.sourcefile.url }}" target="_blank"><i class="fa fa-folder-open"></i> открыть</a>
																{% if i.status != 'approved' %}
																| <a href="{% url 'docflow:docflowfile_del' f.id %}" style="color:red"><i class="fa fa-remove"></i> удалить</a>
																{% endif %}
																
															</li>
														{% endfor%}
													</ul>
												
											{% endif %}

										</td>
										<td>{{ i.get_status_display }}</td>
										<td>{{ i.comment }}</td>
										<td>{{ i.ctime|date:"SHORT_DATETIME_FORMAT" }}</td>
										<td>
											{% if i.status != 'approved' %}
												<div class="btn-group-vertical">
													<a class="btn btn-success" href="{% url 'docflow:cash_payment_voucher_edit' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать</a>
													<a class="btn btn-success" href="{% url 'docflow:docflowfile_add' i.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить документ</a>
													<a class="btn btn-danger" color="gray" href="{% url 'docflow:cash_payment_voucher_del' i.id %}"><i class="fa fa-remove"></i> Удалить</a>
												</div>
											{% endif %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>



{% endblock %}

