{% extends "base.html" %}
{% block title %}Панель управления - список покупателей{% endblock %}
{% block description %}Панель управления - список покупателей{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}


<!-- widget grid -->
<section id="widget-grid" class="">
	
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<h2>Журнал учета посещений </h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<div class="form-group">
							<a href="{% url 'kassir:kassirvisitorlog_add' %}" class="btn btn-success">Добавить</a>
						</div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

			{% if object_list %}
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>СПИСОК</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<div class="table-responsive">
								
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>Магазин</th>
										<th>Тип</th>
										<th>Время</th>
										<th>Количество</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for i in object_list %}
									<tr>
										<td>{{ i.id }}</td>
										<td>{{ i.shop.name }}</td>
										<td>{{ i.get_who_display }}</td>
										<td>{{ i.get_period_display }}</td>
										<td>{{ i.value }}</td>
<!-- 										<td>
											<div class="form-group">
												<a href="/kassir/buyer/edit/{{ i.id }}/" class="btn btn-primary">Редактировать</a></br>
											</div>
										</td> -->
									</tr>
									{% endfor %}
								</tbody>
							</table>
							
						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->
			{% endif %}
			
			
			
			
			
			
			
		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>

{% include "paginator.html" %}


{% endblock %}

