{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}

{% load corpmailtag %}



<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

		<!-- Widget ID (each widget will need unique ID)-->
		<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-list-alt" aria-hidden="true"></i> </span>
					<h2>Тема {{ object.name }} #{{ object.id }}</h2>
				</header>
				<div class="well">	
					<table class="table table-striped table-forum">
						<thead>
							{% comment %} <tr>
								<th colspan="2">
									<a href="#ajax/forum.html"> Projects </a> &gt; <a href="#ajax/forum-topic.html">Business Requirement Docs </a> &gt; Nam quam nunc blandit vel
									</th>
							</tr> {% endcomment %}
						</thead>
						<tbody>
                            <!-- Posts -->
                            {% if object.corpmail %}
							<!-- Parent -->
                            <tr>
                                    <td class="text-center">
                                    <strong>{{ object.corpmail.user.user|who }}</strong></a>
                                    </td>
                                    <td><em>{{object.corpmail.cdate}}</em>
                                    </td>
                                </tr>		
                                <tr>
                                    <td class="text-center" style="width: 12%;">
                                        <div class="push-bit">
                                            {% if object.corpmail.photo %}
                                                <img class="img-responsive user-photo" alt="avatar" class="online" src="{{ object.corpmail.photosmall.url }}"> 
                                            {% else %}
                                                <img class="img-responsive user-photo" alt="avatar" class="online" src="/static/img/nophoto.png"> 
                                            {% endif %}
                                            {% comment %} <img src="{{object.corpmail.user.photosmall}}" width="50" alt="avatar" class="online"> {% endcomment %}
                                        </div>
                                        {% comment %} <small>473 Posts</small> {% endcomment %}
                                        
                                    </td>
                                    <td>
                                        <p>
                                            {{object.corpmail.desc}}
                                        </p>
                                                    
                                        {% comment %} <em>- John Doe <br> CEO, SmartAdmin</em> {% endcomment %}
                                        
                                        {% if object.corpmail.corpmailfile_set.all %}
                                        <br>
                                        Количество вложений: {{object.corpmail.corpmailfile_set.all.count}}
                                            <div class="forum-attachment">
                                                <ul class="list-inline margin-top-10">
                                                    {% for f in object.corpmail.corpmailfile_set.all %}
                                                        <li class="well well-sm padding-5">
                                                            <strong>
                                                                <i class="fa fa-paperclip" aria-hidden="true"></i> {{ f.name }}
                                                            </strong>
                                                            {% comment %} <br> 400 kb {% endcomment %}
                                                            <br>
                                                            <a href="{{ f.sourcefile.url }}" target="_blank" download="{{ f.name }}">Скачать</a> |
                                                            <a href="{{ f.sourcefile.url }}" target="_blank">Открыть</a><br>
                                                        </li>
                                                    {% endfor%}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        <div>
                                            <a class="btn btn-warning" color="gray" href="{% url 'corpmail:corpmail_toarchive' object.corpmail.id %}"><i class="fa fa-archive" aria-hidden="true"></i> Архивировать</a> 
                                        </div>
                                    </td>
                                </tr>
                                
                                
                            <!-- Childs -->
                                {% crm_recursion object as corpmails %}

                                {% for c in corpmails %}
                                <tr>
                                        <td class="text-center">
                                        <strong>{{ c.user.user|who }}</strong></a>
                                        </td>
                                        <td><em>{{c.cdate}}</em>
                                        </td>
                                    </tr>		
                                    <tr>
                                        <td class="text-center" style="width: 12%;">
                                            <div class="push-bit">
                                                {% if c.user.photo %}
                                                    <img class="img-responsive user-photo" alt="avatar" class="online" src="{{ c.user.photosmall.url }}"> 
                                                {% else %}
                                                    <img class="img-responsive user-photo" alt="avatar" class="online" src="/static/img/nophoto.png"> 
                                                {% endif %}
                                                {% comment %} <img src="{{c.user.photo}}" width="50" alt="avatar" class="online"> {% endcomment %}
                                            </div>
                                            {% comment %} <small>473 Posts</small> {% endcomment %}
                                            
                                        </td>
                                        <td>
                                            <p>
                                                {{c.desc}}
                                            </p>
                                                        
                                            {% comment %} <em>- John Doe <br> CEO, SmartAdmin</em> {% endcomment %}
                                            
                                            {% if c.corpmailfile_set.all %}
                                            <br>
                                            Количество вложений: {{c.corpmailfile_set.all.count}}
                                                <div class="forum-attachment">
                                                    <ul class="list-inline margin-top-10">
                                                        {% for f in c.corpmailfile_set.all %}
                                                            <li class="well well-sm padding-5">
                                                                <strong>
                                                                    <i class="fa fa-paperclip" aria-hidden="true"></i> {{ f.name }}
                                                                </strong>
                                                                {% comment %} <br> 400 kb {% endcomment %}
                                                                <br>
                                                                <a href="{{ f.sourcefile.url }}" target="_blank" download="{{ f.name }}">Скачать</a> |
                                                                <a href="{{ f.sourcefile.url }}" target="_blank">Открыть</a><br>
                                                            </li>
                                                        {% endfor%}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                            <div>
                                                <a class="btn btn-warning" color="gray" href="{% url 'corpmail:corpmail_toarchive' c.id %}"><i class="fa fa-archive" aria-hidden="true"></i> Архивировать</a> 
                                            </div>
                                        </td>
                                    </tr>			
                                {% endfor %}
                            {% else %}
                            <!-- Post without parents -->
							<tr>
                                    <td class="text-center">
                                    <strong>{{ object.user.user|who }}</strong></a>
                                    </td>
                                    <td><em>{{object.cdate}}</em>
                                    </td>
                                </tr>		
                                <tr>
                                    <td class="text-center" style="width: 12%;">
                                        <div class="push-bit"> 
                                            {% if object.user.photo %}
                                                <img class="img-responsive user-photo" alt="avatar" class="online" src="{{ object.user.photosmall.url }}"> 
                                            {% else %}
                                                <img class="img-responsive user-photo" alt="avatar" class="online" src="/static/img/nophoto.png"> 
                                            {% endif %}
                                            {% comment %} <img src="{{object.user.photosmall}}" width="50" alt="avatar" class="online"> {% endcomment %}
                                        </div>
                                        {% comment %} <small>473 Posts</small> {% endcomment %}
                                        
                                    </td>
                                    <td>
                                        <p>
                                            {{object.desc}}
                                        </p>
                                                    
                                        {% comment %} <em>- John Doe <br> CEO, SmartAdmin</em> {% endcomment %}
                                        
                                        {% if object.corpmailfile_set.all %}
                                        <br>
                                        Количество вложений: {{object.corpmailfile_set.all.count}}
                                            <div class="forum-attachment">
                                                <ul class="list-inline margin-top-10">
                                                    {% for f in object.corpmailfile_set.all %}
                                                        <li class="well well-sm padding-5">
                                                            <strong>
                                                                <i class="fa fa-paperclip" aria-hidden="true"></i> {{ f.name }}
                                                            </strong>
                                                            {% comment %} <br> 400 kb {% endcomment %}
                                                            <br>
                                                            <a href="{{ f.sourcefile.url }}" target="_blank" download="{{ f.name }}">Скачать</a> |
                                                            <a href="{{ f.sourcefile.url }}" target="_blank">Открыть</a><br>
                                                        </li>
                                                    {% endfor%}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        <div>
                                            <a class="btn btn-warning" color="gray" href="{% url 'corpmail:corpmail_toarchive' object.id %}"><i class="fa fa-archive" aria-hidden="true"></i> Архивировать</a> 
                                        </div>
                                    </td>
                                </tr>				
                                <!-- end Post -->

                            {% endif %}
						    <!-- end Post -->

						</tbody>
                    </table>

			</div>
			<!-- end widget -->

		

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Ответить</h2>
				</header>

				<script>
					$(document).ready(function () {
                        $("input[type='file']").change(function () {
                            var fname = $(this).val().split('\\').pop();
                            {% comment %} fname = fname.match(/([^\\/]+)\.([^\\/]+)$/)[1]; {% endcomment %}
                            $('#id_name').val(fname);
                            console.log(fname);
                        });
                        
                        $('#id_name_field').val("Re: {{object.name}}");
                        
                    });
				</script>
                    
                <!-- widget div-->
					<div>
                            
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        
                        </div>
                        <!-- end widget edit box -->
                        
                        <!-- widget content -->
                        <div class="widget-body">
                        
                            {% comment %} <p>Поля отмеченные
                                <sup class="required">*</sup> обязательные для заполнения
                            </p> {% endcomment %}
                        
                            <form action="" method="post" enctype="multipart/form-data" role="form">
                                {% csrf_token %} {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                        
                                <fieldset>
                                    {% for i in form.visible_fields %}
                        
                                    <div class="form-group">
                                        {% if i.field.required %}
                                        <sup class="required">*</sup>{% endif %}
                                        <label>{{ i.label }}</label>
                                        {{ i }} {% if i.errors %}
                                        <p class="text-danger">{{ i.errors|striptags }}</p>
                                        {% endif %}
                                        <p class="help-block">{{ i.field.help_text }}</p>
                                    </div>
                        
                                    {% endfor %}
                        
                                    <button type="submit" class="btn btn-primary" onclick="sendtoprintbarcode(); return false;">Готово</button>
                        
                                </fieldset>
                        
                            </form>
                        </div>
                        <!-- end widget content -->
                        
                        </div>
                        <!-- end widget div -->

			</div>
			<!-- end widget -->
		
			{% if is_paginated %}
			<nav>
			  <ul class="pagination">
				{% if page_obj.has_previous %}
				  <li>
					<a href="?page={{ page_obj.previous_page_number }}">
					  <span>Previous</span>
					</a>
				  </li>
				{% else %}
				  <li class="disabled">
					<a href="#">
					  <span>Previous</span>
					</a>
				  </li>
				{% endif %}
		  
				{% for page in paginator.page_range %}
				  <li {% if page == page_obj.number %}class="active"{% endif %}>
					<a href="?page={{ page }}">{{ page }}</a>
				  </li>
				{% endfor %}
		  
				{% if page_obj.has_next %}
				  <li>
					<a href="?page={{ page_obj.next_page_number }}">
					  <span>Next</span>
					</a>
				  </li>
				{% else %}
				  <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
					<a href="#">
					  <span>Next</span>
					</a>
				  </li>
				{% endif %}
			  </ul>
			</nav>
		  {% endif %}
		

		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>



{% endblock %}

