{% extends "basetext.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
				  <tr>
					<th>id</th>
					<th>Родитель</th>
					<th>Ребенок</th>
				  </tr>
				</thead>
				<tbody>
					{% for i in object_list %}
						<tr>
							<td>{{ i.id }}</td>
							<td>
								{{ i.child.buyer.f }} {{ i.child.buyer.i }} {{ i.child.buyer.o }}</br>
								{% if i.child.buyer.male %}
								пол: {{ i.child.buyer.male }}
								{% endif %}
								</br>
								{{ i.child.buyer.phone }}
							</td>
							<td>
								{{ i.child.name }}
								</br>
								{{ i.child.bday|date:"SHORT_DATE_FORMAT" }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
		</div>
	</div>
</div>

{% endblock %}

