{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


	
{% block script %}<script src="/static/js/print.js"></script>{% endblock %}


{% block content %}

{% load nodetag %}




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>{{ object.name }}</h3>
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<table id="goods_list" class="table">
				<thead>
				  <tr>
					<th></th>
					<th>Название</th>
					<th>Название на сайте</th>
					<th>Цена</th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
						<tr>
							<td>
								{% if object.pict %}
								<a href="{{ object.pict500.url }}" target="_blank"><img src="{{ object.pict120.url}}" /></a>
								{% endif %}
							</td>
							<td>
								{{ object.name }}
								<p>
								<div style="font-size: 12px;">
									<span>CRM ID: <a href="/admin/node/goods/{{ i.id }}/change/" target="_blank">{{ object.id }}</a></span></br>
									
									{% if object.id1c %}
									<span>1C ID: <b>{{ object.id1c }}</b></span></br>
									{% endif %}
									
									<span>Артикул: <b>{{ object.art }}</b></span></br>
									
									{% if object.idbitrix %}
									<span>BITRIX ID: <a href="http://babah24.ru/katalog/detail.php?ELEMENT_ID={{ object.idbitrix }}" target="_blank">{{ object.idbitrix }}</a></span></br>
									{% endif %}
								
									{% if object.barcodelist_set.all %}
									<div style="border: 1px silver dotted; padding: 5px;">
									<span>Штрих код</span></br>
									{% for bar in object.barcodelist_set.all %}
									<span><b>{{ bar.barcode }} ({{ bar.unit }})</b></span></br>
									{% endfor %}
									</div>
									{% endif %}
									
									{% if object.pricegoods_set.all %}
									<div style="border: 1px silver dotted; padding: 5px;">
										<span>Цены</span></br>
										{% for pg in object.pricegoods_set.all %}
											<span><b>
											{{ pg.pricetype.name }} {{ pg.price|floatdot:2 }} ({{ pg.unit }})
											</b></span></br>
										{% endfor %}
									</div>
									{% endif %}
									
								</div>
								</p>
							</td>
							<td>
								{{ object.bname }}
								<p>
								{% proplist object.id as prop %}
								{% for p in prop %}
								<div style="font-size: 12px;">
									<span>{{ p.name }}:</span>
									<span>
									{% if p.multiple %}
										{% for pv in p.value %}
											<b>{{ pv }}</b>
										{% endfor %}
									{% else %}
										<b>{{ p.value }}</b>
									{% endif %}
									<b>{{ p.baseunit }}</b>
									</span>
								</div>
								{% endfor  %}
								</p>
								<p>
								<span>Категории:</span></br>
								{% for t in object.tax.all %}
									<small>{{ t.name }}</small>
								{% endfor  %}
								</p>
							</td>
							<td>
								{{ object.price|floatdot }} руб.
								
								
								{% if object.qinstock %}
									</br>
									{% for q in object.qinstock.all %}
										<small class="text-muted">{{ q.stock.name }} {{ q.value }}</small></br>
									{% endfor %}
								{% endif %}
								
							</td>
							<td>
								{% if object.qrcode %}
								<div class="form-group">
									<a href="#" class="btn" data-print="false" onclick="printqrcode(this, {{object.id }}); return false;"><img class="img-responsive" src="{{ object.qrcode100.url}}" /></a>
								</div>
								{% endif %}
								{# {% if object.barcode %} #}

								<div class="form-group">
									<div class="printtask{{ object.id }}">
									{% if object.idbitrix %}
										<a href="/printtask/add/{{ object.id }}/" class="btn btn-primary btn-xs" onclick="printtask(this, {{ object.id }}, {{ object.idbitrix }}); return false;">В очередь печати</a>
									{% else %}
										<a href="/printtask/add/{{ object.id }}/" class="btn btn-primary btn-xs" onclick="printtask(this, {{ object.id }}); return false;">В очередь печати</a>
									{% endif %}
									</div>
								</div>
								
								{# {% endif %} #}
								
							</td>
						</tr>
				</tbody>
			  </table>
			

			
			
		</div>
	</div>
</div>


	</br>

{% endblock %}

