
{% load nodetag %}

{% for shop in object_list %}


	{% if shop.plansum %}

	<p><b>План {{ shop.planstart|date:"F Y" }} </b> {{ shop.plansum|floatdot:1 }} руб. <b>Заработано: </b>{{ shop.plantotal|floatdot:1 }} руб. ({{ shop.plansum|percentofdigit:shop.plantotal|floatdot }}%)</p>
	<div class="progress">
		<div class="progress-bar bg-color-redLight" role="progressbar" style="width: {{ shop.plansum|percentofdigit:shop.plantotal|floatdot }}%;"></div>
	</div>
	
	{% endif %}





	<!-- start json -->

	<div class="table-responsive">
		<table class="table table-hover">
			{% comment %}
			<thead>
				<tr>
					<th><span class="text-uppercase">{{ shop.name }}</span></th>
					<th>Количество продаж *</th>
					<th>Бонусная премия *</th>
					<th><span class="text-uppercase">Коэффициент {{ shop.mratio|floatdot:1 }}</span></th>
				</tr>
			</thead>
			{% endcomment %}
			<tbody>
					<tr>
						<td>
							<b><span class="text-uppercase">{{ shop.name }}</span></b>
							</br>
							<b><span class="text-uppercase">Коэффициент {{ shop.mratio|floatdot:1 }}</span></b>
						</td>
						<td><b>Сумма продаж </br>за период {{ startdate|date:"SHORT_DATE_FORMAT" }} - {{ enddate|date:"SHORT_DATE_FORMAT" }}</b></td>
						<td></td>
						<td>{#<b>Бонус </br>за единицу товара</b>#}</td>
						<td><b>Бонусная </br>премия</b></td>
						<td><b>Остаток </br>на складах</b></td>
						<td>{#<b>Бонус списания</br>за единицу товара</b>#}</td>
						<td><b>Бонусы </br>списания</b></td>
						<td><b>Итог</b></td>
					</tr>
				{% for i in shop.list %}
					<tr>
						<td><a href="{% url 'panel:goods_list_public' %}?motivation={{ i.goods__motivationinpoints1__id }}" class="btn btn-info btn-block  btn-xs" target="_blank">{{ i.goods__motivationinpoints1__name }}</a></td>
						
						<td>
							<div class="bar-holder" style="padding: 0;">
								<div class="progress">
									<div class="progress-bar bg-color-blueLight" data-transitiongoal="{{ shop.lefttotalcol|percentofdigit:i.leftcol|floatdot }}" aria-valuenow="{{ shop.lefttotalcol|percentofdigit:i.leftcol|floatdot }}" style="width: {{ shop.lefttotalcol|percentofdigit:i.leftcol|floatdot }}%;"></div>
								</div>
							</div>
						</td>
						<td>
							{{ i.leftcol|floatdot }} шт.
							</br>
							<span class="text-muted">({{ i.leftsum|floatdot:1 }} руб.)</span>
						</td>
						<td>
							{% comment %}
							{{ i.leftbonussum|floatdot:1 }} руб.
							</br>
							{% endcomment %}
							<span class="text-muted">{{ i.leftbonusper|floatdot }}%</span>
						</td>
						<td>
							<b>
								<a href="#" data-toggle="tooltip" title="({{ i.leftsum|floatdot:1 }}/100)*{{ i.leftbonusper|floatdot }}*{{ shop.mratio|floatdot:1 }}" onclick="return false;">{{ i.leftres|floatdot:1 }} руб.</a>
								
							</b>
						</td>
						<td>
							{{ i.rightcol|floatdot }} шт.
							</br>
							<span class="text-muted">({{ i.rightsum|floatdot:1 }} руб.)</span>
						</td>
						<td>
							
							{{ i.rightbonussum|floatdot:1 }} руб.
							</br>
							
							<span class="text-muted">{{ i.rightbonusper|floatdot }}%</span>
						</td>
						<td>
							<b>
								<a href="#" data-toggle="tooltip" title="({{ i.rightsum|floatdot:1 }}/100)*{{ i.rightbonusper|floatdot }}*{{ shop.mratio|floatdot:1 }}" onclick="return false;">{{ i.rightres|floatdot:1 }} руб.</a>
							</b>
						</td>
						<td>
							<b>
							<a href="#" data-toggle="tooltip" title="{{ i.leftres|floatdot:1 }}-{{ i.rightres|floatdot:1 }}" onclick="return false;">{{ i.totalres|floatdot:1 }} руб.</a>
							</b>
						</td>
					</tr>
				{% endfor %}
					<tr>
						
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td><b>{{ shop.lefttotal|floatdot:1 }} руб.<b></td>
						<td></td>
						<td></td>
						<td><b>{{ shop.righttotal|floatdot:1 }} руб.<b></td>
						<td><b>{{ shop.leftrighttotal|floatdot:1 }} руб.</b></td>
					</tr>
			</tbody>
		</table>
	</div>
	
	
	<hr>
	
	<!-- end json -->
	
{% endfor %}

<script>
/* подсказки на кнопках сортировки */
$('[data-toggle="tooltip"]').tooltip(); 
</script>

