{% extends "base.html" %}
{% block title %}CRM{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}



{% block script %}
{% endblock %}

{% block content %}

{% load nodetag %}


<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		
		<h1 class="page-title txt-color-blueDark breadcrumbs-main hidden"><i class="fa fa-pie-chart" aria-hidden="true"></i> Мотивация <span>&gt; Отчет</span></h1>
		
		<h1 class="page-title txt-color-blueDark breadcrumbs-spinner"><i class="fa fa-cog fa-spin" aria-hidden="true"></i> Загрузка данных...</h1>
		
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<a href="#" class="btn btn-success btn-block" onclick="motivationget(); return false;"><i class="fa fa-refresh" aria-hidden="true"> ОБНОВИТЬ ДАННЫЕ</i></a>
			</li>
		</ul>
	</div>
</div>





	<!-- widget grid -->
	<section id="widget-grid" class="">
		<!-- row -->
		<div class="row">
			

			<!-- NEW WIDGET START -->
			<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<!-- Widget ID (each widget will need unique ID)-->
				<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-00" role="" data-widget-editbutton="true">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"
					-->
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Мотивация</h2>

					</header>
					<!-- widget div-->
					<div>

						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
						</div>
						<!-- end widget edit box -->

						<!-- widget content -->
						<div class="widget-body">
							<script>

							function motivationget() {
								$.ajax({
									type: 'GET',
									url: '/motivation/report/list/json/',
									//data: data,
									//dataType: 'json',
									beforeSend: function(){
									
										$('.motivation_json').html('<h2>Загрузка данных...</h2>')
										$('.breadcrumbs-main').addClass('hidden');
										$('.breadcrumbs-spinner').removeClass('hidden');
									
									},
									success: function(data){
										//console.log(data);
										$('.motivation_json').html(data);
										$('.breadcrumbs-main').removeClass('hidden');
										$('.breadcrumbs-spinner').addClass('hidden');
									},
									error: function(xhr, textStatus, errorThrown){
										console.log(errorThrown);
									}
								});
							}

							$( document ).ready(function() {
								motivationget();
							});
							</script>

							<!-- start json -->
							<div class="motivation_json"></div>
							<!-- end json -->
							
						</div>
						<!-- end widget content -->
					</div>
					<!-- end widget div -->
				</div>
				<!-- end widget -->
			</article>
			<!-- WIDGET END -->

		</div>
	</section>

	
{% endblock %}