{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}






<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Корректировка позиций <small>товара</small></h3>
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			
			<table id="buyer_list" class="table">
				<thead>
				  <tr>
					<th></th>
					<th>Дата</th>
					<th>Статус</th>
					<th>Важность</th>
					<th>Пользователь</th>
					<th>Товар</th>
					<th>Название</th>
					<th>Ссылка</th>
					<th>Сообщение</th>
				  </tr>
				</thead>
				<tbody>
					{% for i in object_list %}
						<tr>
							<td>
								<a href="/panel/goodfix/edit/{{ i.id }}/">{{ i.id }}</a>
							</td>
							<td>{{ i.ctime|date:"SHORT_DATETIME_FORMAT" }}</td>
							<td>
								<span class="label label-{% if i.status == 'open' %}primary{% else %}default{% endif %}">
								{{ i.get_status_display }}
								</span>
							</td>
							<td>
								{{ i.get_priority_display }}
							</td>
							<td>
								{{ i.user.username }}
								</br>
								{{ i.user.first_name }} {{ i.user.last_name }}
							</td>
							<td>{{ i.goods.id }} {{ i.goods.id1c }} {{ i.goods.art }} {{ i.goods.name }}</td>
							<td>{{ i.name }}</td>
							<td>{{ i.link }}</td>
							<td>{{ i.message }}</td>
							<td>
								<div class="form-group">
									<a href="/panel/goodfix/edit/{{ i.id }}" class="btn btn-primary btn-sm">изменить</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
			

			
			
		</div>
	</div>
</div>







{% include "paginator.html" %}

	
	
	
	</br>

{% endblock %}

