{% extends "base.html" %}
{% block title %}Панель управления - список отзывов{% endblock %}
{% block description %}Панель управления - список отзывов{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}






<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Список отзывов <small>предложений</small></h3>
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			
			<table id="review_list" class="table">
				<thead>
				  <tr>
					<th></th>
					<th>Дата</th>
					<th>Тема</th>
					<th>Имя/Email</th>
					<th>Заказ</th>
					<th>Сообщение</th>
				  </tr>
				</thead>
				<tbody>
					{% for i in object_list %}
						<tr>
							<td>
								<a href="/review/edit/{{ i.id }}/">{{ i.id }}</a>
								</br>
								{% if i.status %}
									Включен
								{% else %}
									Выключен
								{% endif %}
								<div class="form-group">
								<a class="btn btn-xs btn-primary" href="/review/edit/{{ i.id }}/">Редактировать</a>
								</div>
							</td>
							<td>{{ i.ctime|date:"SHORT_DATETIME_FORMAT" }}</td>
							<td>{{ i.get_subj_display }}</td>
							<td>{{ i.uname }}</br>{{ i.email }}</td>
							<td>{{ i.order }}</td>
							<td>{{ i.message }}</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
			

			
			
		</div>
	</div>
</div>







{% include "paginator.html" %}

	
	
	
	</br>

{% endblock %}

