{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>План продаж <small>магазины</small></h3>
			
			<div class="form-group">
				<a class="btn btn-success" href="/panel/saleplanshop/add">Создать план</a>
			</div>
			
			
			
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">	
			<table class="table">
				<thead>
				  <tr>
					<th>id</th>
					<th>Дата создания</th>
					<th>Последние редактирование</th>
					<th>Название</th>
					<th>Сумма</th>
					<th>Магазин</th>
					<th>Период</th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
					{% for i in object_list %}
						<tr>
							<td>{{ i.id }}</td>
							<td>{{ i.ctime|date:"SHORT_DATETIME_FORMAT" }}</br>{{ i.user|who }}</td>
							<td>{{ i.utime|date:"SHORT_DATETIME_FORMAT" }}</td>
							<td>{{ i.name }}</td>
							<td>{{ i.value }}</td>
							<td>{{ i.shop.name }}</td>
							<td>{{ i.sdate|date:"SHORT_DATE_FORMAT" }} - {{ i.edate|date:"SHORT_DATE_FORMAT" }}</td>
							<td>
								<div class="form-group">
									<a class="btn btn-xs btn-success" href="/panel/saleplanshop/edit/{{ i.id }}">Редактировать</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
				
{% include "paginator.html" %}
			
		</div>
	</div>
</div>

	
	
	</br>

{% endblock %}

