{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Изменить смс шаблон</h3>
		</div>
	</div>
</div>



<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">	
			<h4>Переменные шаблона</h4>
			
			<ul>
				<li>(mr) - Обращение</li>
				<li>(f) - Фамилия</li>
				<li>(i) - Имя</li>
				<li>(o) - Отчество</li>
				<li>(url) - Сылка babah24.ru</li>
				<li>(bonus) - Количество бонусов</li>
				<li>(backurl) - Ссылка с обратным переходом babah24.ru/?back=X1x2X4</li>
				{% comment %}
				<li>(backurl2) - Ссылка с обратным переходом babah24.ru/back_X1x2X4</li>
				<li>(backurl3) - Ссылка с обратным переходом babah24.ru/back_7XXXXXXXXXX</li>
				{% endcomment %}
				
				<li>(childname) - Имя ребенка</li>

			</ul>
			
			
		</div>
	</div>
</div>


	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			{% include "_form.html" %}
			
			
		</div>
	</div>
</div>
	
	
	
	</br>

{% endblock %}

