{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}
{% load devtag %}




<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="well">
		<h3>Управление устройствами</h3>
		<p>Перезагрузка устройств занимает около 5 минут.</p>
	</div>
	
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

		
		
			{% for i in object_list %}
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-{{ i.shop.id }}" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>{{ i.shop.name }}</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>Название</th>
										<th>ip</th>
										<th>Пинг</th>
										<th>Статус</th>
									</tr>
								</thead>
								<tbody>
									{% devicelist i.id as devlist %}
									{% for dv in devlist %}
									<tr>
										<td>{{ dv.id }}</td>
										<td>{{ dv.name }}</td>
										<td>
											{{ dv.ip }} 
											</br>
											{{ dv.vpnip }}
											</td>
										<td>{{ dv.pingcron|date:"SHORT_DATETIME_FORMAT" }}</td>
										<td>
											<div class="form-group">
												{% if dv.reboot == True %}
													<a class="btn btn-success disabled" href="#">Перезагружаем...</a>
												{% else %}
													<a class="btn btn-success jqueryconfirm" href="/dev/control/reboot/{{ dv.id }}/">Отправить на перезагрузку</a>
												{% endif %}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->
			{% endfor %}
			
			
			
			
			
			
		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>



{% endblock %}

