<!DOCTYPE html>
<html>

<head>
    <title>Магазин фейерверков «Бабах»</title>
    <meta name="viewport" content="width=1920, initial-scale=1, user-scalable=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="/static/device/reset.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/device/style.css" type="text/css">
    <link rel="stylesheet" href="/static/device/fonts.css" type="text/css" charset="utf-8">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/device/script.js"></script>
</head>

<body onload="initWebSocket();" ondrag="return false">
    <div class="pageNoVideo">
        <img src="/static/device/img/big_logo.png">
    </div>
</body>

</html>