{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}

{% load projecttag %}


<!-- widget grid -->
<section id="widget-grid" class="">
	
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
					<h2>Этап проекта {{ object.name }} #{{ object.id }}</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">
						<div class="row">
							<div class="col-md-6">
								
								<table class="table">
									<tr><th>Название</th><td>{{ object.name }}</td></tr>
									<tr><th>Статус</th>
										<td>
											{{ object.status|yesno:"Активен,Завершен" }}
											{% if object.project.user == request.user %}
												{% if object.status == True and object.projectstep.status == False %}
													<a class="btn btn-success" href="{% url 'project:projectstep_success' object.id %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Завершить</a> 
												{% elif object.status == True and object.projectstep.status == True %}
													<a class="btn btn-warning" href="{% url 'project:projectstep_success' object.projectstep.id %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Завершить предыдущий этап</a> 
												{% elif object.status == True %}
													<a class="btn btn-success" href="{% url 'project:projectstep_success' object.id %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Завершить</a>
												{% endif %}
											{% endif %}
										</td>
									</tr>
									<tr><th>Исполнители</th><td>{% for e in object.executor.all %}{{ e.user|who }}<br>{% endfor %}</td></tr>
									<tr><th>Поставщики</th><td>{% for d in object.distributor.all %}{{ d }}<br>{% endfor %}</td></tr>
									<tr><th>Создатель этапа</th><td>{{ object.project.user|who }}</td></tr>
								</table>
								{% if object.project.user == request.user %}
								<div class="form-group">
									<a class="btn btn-success" href="{% url 'project:projectstep_edit' object.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать</a>
								</div>
								{% endif %}
							</div>

							<div class="col-md-6">
								<p>
									<b>Описание:</b></br>
									{{ object.desc }}
								</p>
								
								{% if object.pict.all %}
									</br>
									<table class="table">
										<thead>
											<tr>
												<th colspan="3">Изображения этапа</th>
											</tr>
										</thead>
										<tbody>
											{% for picture in object.pict.all %}
											<tr>
												<td>
													<a href="{{ picture.pict.url }}" target="_blank">
														<img src="{{ picture.pict40.url }}" class="img-responsive" /></a>
												</td>
												<td>
													{{ picture.desc }}
												</td>
												<td>
													<a class="btn btn-danger btn-xs" href="{% url 'project:projectstep_pict_del' picture.id %}"><i class="fa fa-remove"></i></a> 
												</td>
											</tr>
											{% endfor %}
											
										</tbody>
									</table>
								{% endif %}

								{% if object.project.user == request.user %}
									<div class="form-group">
										<a class="btn btn-success" href="{% url 'project:projectstep_pict_add' object.id  %}"><i class="fa fa-plus" aria-hidden="true"></i> картинку</a> 
									</div>
								{% endif %}
						
								{% if object.file.all %}
								</br>
								<table class="table">
									<thead>
										<tr>
											<th colspan="3">Файлы этапа</th>
										</tr>
									</thead>
									<tbody>
										{% for file in object.file.all %}
										<tr>
											<td>
												<a href="{{ file.sourcefile.url }}" target="_blank"><i class="fa fa-paperclip fa-2x" style="" aria-hidden="true"></i></a>
											</td>
											<td>
												{{ file.desc }}
											</td>
											<td>
												<a class="btn btn-danger btn-xs" href="{% url 'project:projectstep_file_del' file.id %}"><i class="fa fa-remove"></i></a> 
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							{% endif %}
							{% if object.project.user == request.user %}
								<div class="form-group">
									<a class="btn btn-success" href="{% url 'project:projectstep_file_add' object.id  %}"><i class="fa fa-plus" aria-hidden="true"></i> файл</a> 
								</div>
							{% endif %}

							</div>

						</div>
					</div>
					<!-- end widget content -->
	
				</div>
				<!-- end widget div -->
	
			</div>
			<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
	
					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"
	
					-->
					<header>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>Расходы этапа {{ object.name }}</h2>
					</header>
	
					<!-- widget div-->
					<div>
	
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
						</div>
						<!-- end widget edit box -->
	
						<!-- widget content -->
						<div class="widget-body">
							
							{% if object.project.user == request.user %}
							<div class="form-group">
								<a class="btn btn-success" href="{% url 'project:projectstep_cost_add' object.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Планировать бюджет</a>
							</div>
							{% endif %}
							<b>Планируемые расходы</b><br><br>
							<table class="table table-bordered table-striped" style="font: regular">
									<tr>
										<th>id</th>
										<th>Название</th>
										<th>Поставщик</th>
										<th>Планирумые расходы, <i class="fa fa-rub" aria-hidden="true"></i></th>
									</tr>
									{% projectstep_plansum object.cost.all as plansumlist %}
									{% for psc in plansumlist %}
										<tr>
											<td>{{ psc.id }}</td>
											<td>{{ psc.name }}</td>
											<td>{% for d in object.distributor.all %}{{ d }}<br>{% endfor %}</td>
											<td>{{ psc.costsum }}</td>
										</tr>
									{% endfor %}
								</table>
							<br>
							{% projectstep_executors object as euserlist %}
							{% if request.user in euserlist%}
							<div class="form-group">
								<a class="btn btn-success" href="{% url 'project:projectstep_cost_add' object.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Сообщить о расходе</a>
							</div>
							{% endif %}
							<b>Фактические расходы</b><br><br>
							<table class="table table-bordered table-striped" style="font: regular">
								<tr>
									<th>id</th>
									<th>Название</th>
									<th>Поставщик</th>
									<th>Сумма, <i class="fa fa-rub" aria-hidden="true"></i></th>
								</tr>
								{% projectstep_factsum object.cost.all as factsumlist %}
								{% for psc in factsumlist %}
									<tr>
										<td>{{ psc.id }}</td>
										<td>{{ psc.name }}</td>
										<td>{{ psc.distributor }}</td>
										<td>{{ psc.costsum }}</td>
									</tr>
								{% endfor %}
							</table>
	
						</div>
						<!-- end widget content -->
		
					</div>
					<!-- end widget div -->
		
				</div>
				<!-- end widget -->

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-commenting-o"></i> </span>
					<h2>Комментарии</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">
					
						{% if object.projectcomment.all %}
						
						{% for c in object.projectcomment.all %}
						
							<div class="row">
								<div class="col-md-1">
									<div class="thumbnail">
										{% getprofileuser c.user.id as profileuser %}
										{% if profileuser.photo %}
										<img class="img-responsive user-photo" src="{{ profileuser.photosmall.url }}">
										{% else %}
											<img class="img-responsive user-photo" src="/static/img/nophoto.png">
										{% endif %}
									</div>
								</div>
								<div class="col-md-11">
									<div class="panel panel-default">
										<div class="panel-heading">
										<strong>{{ c.user.first_name }} {{ c.user.last_name }}</strong> {% comment %} <span class="text-muted">{{ c.ctime|date:"SHORT_DATETIME_FORMAT" }}</span> {% endcomment %}
											{% if c.user == request.user %}
											<div style="float: right">
												<a class="btn btn-success btn-xs" href="{% url 'project:projectstepcomment_edit' c.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
												<a class="btn btn-success btn-xs" href="{% url 'project:projectstepcomment_pict_add' c.id %}"><i class="fa fa-plus" aria-hidden="true"></i> картинку</a>
												<a class="btn btn-success btn-xs" href="{% url 'project:projectstepcomment_file_add' c.id %}"><i class="fa fa-plus" aria-hidden="true"></i> файл</a>
												<a class="btn btn-danger btn-xs" href="{% url 'project:projectstepcomment_del' c.id %}"><i class="fa fa-remove"></i></a>	
											</div>
											{% endif %}
										</div>
										<div class="panel-body">
										{{ c.value|safe }}
										
										{% if c.pict %}
											<br><br>
											{% for picture in c.pict.all %}
												<div style="float: left; margin: 0px 15px 0px 0px; border: 1px dotted gray; border-radius: 3px">
													<div align="right" style="position: relative;">
														<a class="btn btn-danger btn-xs" href="{% url 'project:projectstepcomment_pict_del' picture.id %}"><i class="fa fa-remove"></i></a>
													</div>
													<center><a href="{{ picture.pict.url }}" target="_blank"><img src="{{ picture.pict40.url }}"><br>{{ picture.desc }}</a></center>
												</div>
											{% endfor %}
										{% endif %}
										
										{% if c.file != None %}	
											<div style="float: left; width: 100%;">
											<br>
											{% for file in c.file.all %}
												<div style="float: left; margin: 0px 20px 0px 0px;  border: 1px dotted gray; border-radius: 3px">
													<div align="right" style="position: relative;">
														<a class="btn btn-danger btn-xs" color="gray" href="{% url 'project:projectstepcomment_file_del' file.id %}"><i class="fa fa-remove"></i></a> 
													</div>
													<center><a href="{{ file.sourcefile.url }}" target="_blank"><i class="fa fa-paperclip fa-2x" style="" aria-hidden="true"></i><br>{{ file.desc }}</a></center>
												</div>
											{% endfor %}
											</div>
										{% endif%}

										</div>
									</div>
								</div>
							</div>
						
						{% endfor %}
					{% endif %}
					
					<h4>Оставить комментарий</h4>
					<form action="" method="post" enctype="multipart/form-data" role="form">
						{% csrf_token %}

						
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						
						<fieldset>
						{% for i in form.visible_fields %}
							<div class="form-group">
								{{ i }}
								{% if i.errors %}
								<p class="text-danger">{{ i.errors|striptags }}</p>
								{% endif %}
								<p class="help-block">{{ i.field.help_text  }}</p>
							</div>
						{% endfor %}
						
						<button type="submit" class="btn btn-primary" onclick="sendtoprintbarcode(); return false;">Отправить</button>
						
						</fieldset>
						
					</form>
	
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->


		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>

{% endblock %}

