{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}

<script>
	$(document).ready(function() { 
		$("input[type='file']").change(function() { 
		var fname = $(this).val().split('\\').pop(); 
		//fname = fname.match(/([^\\/]+)\.([^\\/]+)$/)[1]; 
		$('#id_desc').val(fname); 
		console.log(fname); 
		}); 
	});
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Добавить файл</h3>
			{% include "_form2.html" %}
		</div>
	</div>
</div>

</br>

{% endblock %}
