{% extends "form_1c_base.html" %}
{% block title %}Панель управления{% endblock %}

{% block content %}

{% load nodetag %}


<script>
function setdcard(code)
{
	var fieldcard = document.getElementById('id_card');
	fieldcard.value=code;
	//code=tmpdcard;
	//console.log(tmpdcard);
	//var myinfo = document.getElementById('myinfo');
	//console.log(myinfo);
	//myinfo.innerHTML += code+'</br>';
	var sform = document.getElementById('searchcardform'); //get form by id
	//sform.submit();
	return true;
}
</script>

{% comment %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>javascript</h4>
			<p>
				<kbd>
				data1c.setvaluetoinput('id_seller', '123')</br>
				</kbd>
			</p>
		</div>
	</div>
</div>
{% endcomment %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-sm">
				<caption>
				Покупатель
				</caption>
				<thead>
					<tr>
						<th>ID</th>
						<th>ФИО</th>
						<th>Д.р.</th>
						<th>Телефон</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ buyer.id }}</td>
						<td>{{ buyer.f }} {{ buyer.i }} {{ buyer.o }}</td>
						<td>{{ buyer.bday|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ buyer.phone|hidephone }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			
			<table class="table table-sm">
				<caption>
				Список родственников
				</caption>
				{% comment %}
				<thead>
					<tr>
						<th>ИО</th>
						<th>Д.Р.</th>
						<th></th>
					</tr>
				</thead>
				{% endcomment %}
				<tbody>
					{% if buyer.buyerrel_set.all %}
					{% for br in buyer.buyerrel_set.all %}
					<tr>
						<td>{{ br.i }} {{ br.o }}</td>
						<td>{{ br.get_type_display }}</td>
						<td>{{ br.bday|date:"SHORT_DATE_FORMAT" }}</td>
						<td><a href="{% url 'api1c:form_1c_relcard_edit' br.id %}/?salt={{ salt }}&crc={{ crc }}" class="btn btn-success btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
					</tr>
					{% endfor %}
					{% else %}
					<tr>
						<td>Нет</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
	
		<div class="col-md-12">

			<h3>Добавление родственника</h3>
				


			{% comment %}
			<p>Поля отмеченные <sup class="required">*</sup> обязательные для заполнения</p>
			{% endcomment %}

			<form id="makedcard" action="" method="post" enctype="multipart/form-data" role="form" novalidate>
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% if salt %}<input type="hidden" name="salt" value="{{ salt }}" />	{% endif %}
				{% if crc %}<input type="hidden" name="crc" value="{{ crc }}" />{% endif %}
				
				{% if request.GET.confirmsave == 'true' %}
					<div class="alert alert-danger" role="alert">
					Найдена похожая запись родственника, вы действительно хотите сохрать текущие данные? <button type="submit" class="btn btn-primary">Подтвердить</button>
					</div>
				{% endif %}
				

				<fieldset>
				{% for i in form.visible_fields %}

					<div class="form-group">
						{% if i.field.required %}<sup class="required">*</sup>{% endif %}
						<label>{{ i.label }}</label>
						{{ i }}
						{% if i.errors %}
						<p class="text-danger">{{ i.errors|striptags }}</p>
						{% endif %}
						<p class="help-block">{{ i.field.help_text  }}</p>
					</div>

				{% endfor %}
				
				<button type="submit" class="btn btn-primary">Записать</button>
				
				<a href="{% url 'api1c:form_1c_getcard' %}/?salt={{ salt }}&crc={{ crc }}&phone={{ buyer.phone }}" class="btn btn-default">Пропустить</a>
				
				</fieldset>
			</form>
		</div>
	</div>
</div>
</br>
	
{% endblock %}