{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}

<!-- widget grid -->
<section id="widget-grid" class="">
	{% comment %} <div class="well">
		<div class="form-group">
			<a class="btn btn-success" href="{% url 'docflow:cash_payment_voucher_add' %}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить расходный ордер</a>
		</div>
	</div>
	{% endcomment %}
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
					<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
	
					data-widget-colorbutton="false"
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true"
					data-widget-sortable="false"
	
					-->
					<header>
						<h2>Фильтр </h2>
					</header>
	
					<!-- widget div-->
					<div>
	
						<!-- widget edit box -->
						<div class="jarviswidget-editbox">
							<!-- This area used as dropdown edit box -->
	
						</div>
						<!-- end widget edit box -->
	
						<!-- widget content -->
						<div class="widget-body no-padding">
	
							<form class="smart-form" id="form_filter" action="/docflow/voucher/admin/list" method="get" role="form">
							{# {% csrf_token %} #}
	
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}
							
							{# {% for i in form.visible_fields %} #}
							{# {% endfor %} #}
	
								<fieldset>
									<div class="row">
										<section class="col col-6">
											<label class="label">{{ form.q.label }}</label>
											<label class="input">
												{{ form.q }}
											</label>
											{% if form.q.errors %}
											<p class="text-danger">{{ form.q.errors|striptags }}</p>
											{% endif %}
											<div class="note">{{ form.q.field.help_text  }}</div>
										</section>
								
										<section class="col col-6">
											<label class="label">{{ form.status.label }}</label>
											<label class="input">
												{{ form.status }}
											</label>
											{% if form.status.errors %}
											<p class="text-danger">{{ form.status.errors|striptags }}</p>
											{% endif %}
											<div class="note">{{ form.status.field.help_text  }}</div>
										</section>
									</div>
								</fieldset>	

								<fieldset>
									<div class="row">
										<section class="col col-6">
											<label class="label">{{ form.category.label }}</label>
											<label class="input">
													{{ form.category }}
											</label>
											{% if form.category.errors %}
											<p class="text-danger">{{ form.category.errors|striptags }}</p>
											{% endif %}
											<div class="note">{{ form.category.field.help_text  }}</div>
										</section>
	
										<section class="col col-6">
											<label class="label">{{ form.user.label }}</label>
											<label class="input">
												{{ form.user }}
											</label>
											{% if form.user.errors %}
											<p class="text-danger">{{ form.user.errors|striptags }}</p>
											{% endif %}
											<div class="note">{{ form.user.field.help_text  }}</div>
										</section>
									</div>
								</fieldset>	
	
								<fieldset>
									<div class="row">
										<section class="col col-2">
											<label class="checkbox">
												{{ form.paging }}
												<i></i>
												{{ form.paging.label }}
											</label>	
											<div class="note">{{ form.paging.field.help_text  }}</div>
										</section>
									</div>
								</fieldset>	
								
								
								
								<footer>
									<div class="pull-left">
										<h4>Количество: {{ count }}</h4>
									</div>
									<div class="pull-right">
										<div class="form-group"> 
											<button type="submit" class="btn btn-success">Применить</button>
										</div>
										<div class="form-group"> 
											<a href="{% url 'docflow:cash_payment_voucher_admin_list'%}" class="btn btn-default">Сбросить</a>
										</div>
										
										{% comment %} <div class="form-group materialvalue_gmove_block"> 
										
											<script>
											function materialvalue_gmove() {
												$('.materialvalue_gmove_btn_user').addClass('disabled');
												
												arrayids = [];
												strids = '';
												
												$("input:checkbox[name=materialvalue_gmove_checkbox]:checked").each(function(){
													dataid = $(this).attr('data-id');
													arrayids.push(dataid);
													strids=strids+'&ids='+dataid
												});
												
												//console.log(arrayids, strids);
												if(arrayids.length > 0) {
													$('.materialvalue_gmove_btn_user').attr('href','{% url 'materialvalue:materialvalue_gmove_user'%}?'+strids);
													$('.materialvalue_gmove_btn_user').removeClass('disabled');		
												}
												return true;
											}
											</script>
											
											<a href="#" class="btn btn-success btn-xs materialvalue_gmove_btn_user disabled" target="_blank" >Переместить списком</a>
										</div> {% endcomment %}
										
										
										
									</div>
								</footer>
							</form>
	
						</div>
						<!-- end widget content -->
	
					</div>
					<!-- end widget div -->
	
			</div>
			<!-- end widget -->
	
		

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Расходные ордеры</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>Основание</th>
										<th>Категория</th>
										<th>Кем выдана</th>
										<th>Кому выдана</th>
										<th>Выданная сумма</th>
										<th>Документы</th>
										<th>Статус</th>
										<th>Комментарии</th>
										<th>Дата</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for i in object_list %}
									<tr>
										<td>{{ i.id }}</td>
										<td>{{ i.name }}</td>
										<td>{{ i.category }}</td>
										<td>{{ i.user.user|who  }}</td>
										<td>
											{% if i.addressee  %}
												{{ i.addressee.user|who }}
											{% else %}
												{{ i.kontragent }}
											{% endif %}
										</td>
										<td>{{ i.sum }}</td>
										<td>
											{% if i.docflowfile_set.all %}
												
													<ul class="list-inline margin-top-10">
														{% for f in i.docflowfile_set.all %}
															<li class="well well-sm padding-5">
																<strong>
																	<i class="fa fa-paperclip" aria-hidden="true"></i> {{ f.name }}
																</strong>
																<br>
																{% comment %} <a class="btn btn-success btn-xs" href="{{ f.sourcefile.url }}" target="_blank" download="{{ f.name }}"><i class="fa fa-download"></i></a>  {% endcomment %}
																{% comment %} <a class="btn btn-success btn-xs" href="{{ f.sourcefile.url }}" target="_blank"><i class="fa fa-folder-open-o"></i></a> {% endcomment %}
																<a href="{{ f.sourcefile.url }}" target="_blank" download="{{ f.name }}"><i class="fa fa-download"></i> скачать</a> | 
																<a href="{{ f.sourcefile.url }}" target="_blank"><i class="fa fa-folder-open"></i> открыть</a>
																
															</li>
														{% endfor%}
													</ul>
												
											{% endif %}

										</td>
										<td>{{ i.get_status_display }}</td>
										<td>{{ i.comment }}</td>
										<td>{{ i.ctime|date:"SHORT_DATETIME_FORMAT" }}</td>
										<td>
											<div class="btn-group-vertical">
												<a class="btn btn-success" href="{% url 'docflow:cash_payment_voucher_change_status' i.id %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Утвердить</a>
												{% comment %} <a class="btn btn-success" href="{% url 'docflow:cash_payment_voucher_edit' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать</a>
												<a class="btn btn-success" href="{% url 'docflow:docflowfile_add' i.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Документ</a>
												<a class="btn btn-danger" color="gray" href="{% url 'docflow:cash_payment_voucher_del' i.id %}"><i class="fa fa-remove"></i> Удалить</a>  {% endcomment %}
											</div>					
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>

<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h4>Найдено: {{ count }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% include "xpaginator.html" %}
			</div>
		</div>
	</div>


{% endblock %}

