<html>
<head>
	<title>Договор</title>
	<style>
		body {
			background-color: white;
			font-family: "Times New Roman", serif; 
			font-size: 12pt;
			text-align: justify;
			margin: 0cm;
		}
		table {
			font-family: "Times New Roman", serif; 
			font-size: 11pt;
		}
		td {
			padding: 0.1cm;
			text-align: left;
			vertical-align: top;
		}
		th {
			padding: 0.1cm;
			font-weight: normal;
		}
		.title {
			text-align: center;
			font-weight: bold;
		}
	</style>
</head>
<body>
		<div class="title">ДОГОВОР № {{ params.number }}</div>
		<center>на поставку пиротехнической продукции</center>
		<p>	
			<div style="float: left">г. Красноярск</div> 
			<div style="float: right">{{ params.date }}</div>
			<br>
		</p>
		<p>
			Общество с ограниченной ответственностью «Красноярский фейерверк», именуемое далее  «Поставщик», 
			в лице директора Кулишенко Алексея Леонидовича, действующего на основании Устава, с одной стороны, 
			и {{ params.req1 }} {{ params.fio }},  
			именуемый далее «Покупатель», действующий на основании {{ params.base }},  
			с другой стороны, заключили Договор о нижеследующем:
		</p>
		<p>
			<div class="title">1. ПРЕДМЕТ ДОГОВОРА</div> 
			1.1 Поставщик обязуется в течение срока действия настоящего Договора, поставить Покупателю пиротехническую продукцию, согласно спецификации, а Покупатель обязуется принимать и своевременно производить ее оплату.<br>
			1.2 Ассортимент продукции с указанием количества, наименования и цены указывается в спецификации, которая  является неотъемлемой частью договора.<br>
			1.3 Приложения к настоящему Договору, переданные по факсу, имеют для Сторон юридическую силу.<br>
	
			<div class="title">2. РАСЧЕТЫ, СРОКИ И ПОРЯДОК ОТГРУЗКИ</div>
			2.1 Общая стоимость Договора определяется совокупной ценой выставленных товарных накладных (счетов) Поставщиком Покупателю за Товар в течение срока действия Договора.<br>
			2.2 Расчеты за продукцию  производятся путем перечисления 100% предоплаты денежных средств на расчетный счет Поставщика в течение 3 (трех) банковских дней со дня выставления счета на партию товара. Отгрузка товара осуществляется в течение 3 (трех) дней после поступления оплаты.<br>
			2.3  Если выставленные Поставщиком счета не будут оплачены Покупателем в согласуемый  срок, Поставщик вправе на подлежащую поставке продукцию изменить цену и срок поставки.<br>
			2.4 Каждая следующая заявка принимается только после оплаты Покупателем  предыдущей.<br>
			2.5 По желанию Покупателя, отгрузочные документы могут комплектоваться сертификатами на данную продукцию, техническими характеристиками.<br>
	
			<div class="title">3. КАЧЕСТВО И УПАКОВКА</div>
			3.1 Качество продукции должно соответствовать стандартам, техническим условиям предприятия и условиям, оговоренным в Спецификации.<br>
			3.2 Упаковка должна обеспечивать сохранность продукции при перевозке и хранении.<br>

			<div class="title">4. ПРИЕМКА ПРОДУКЦИИ</div>
			4.1 Приемка продукции по количеству и качеству производится в соответствии и Инструкциями, утвержденными Постановлениями Госарбитража СССР № П-6 от 15.06.65г. и № П-7 от 25.04.66г. с учетом последующих изменений.<br>
			4.2 Покупатель обязан совершить все необходимые действия, обеспечивающие принятие товаров, поставленных в соответствии с настоящим Договором.<br>
			4.3 При обнаружении недостачи, пересортицы, некачественной продукции, вызов представителя Поставщика для составления двухстороннего акта обязателен. Уведомление о вызове должно быть направлено Поставщику по факсу или телеграфу не позднее 24 часов с момента обнаружения отступлений. <br>
			4.4 Требования об устранении недостатков продукции либо ее замене Покупатель вправе предъявить, если он известил о них Поставщика в порядке, предусмотренном п.4.3 настоящего Договора.<br>
			4.5 При получении продукции от транспортной организации, Покупатель обязан проверить соответствие продукции сведениям, указанным в транспортных и сопроводительных документах.<br>
				Во всех случаях обнаружены утраты и (или) повреждения продукции при перевозке, или несоответствия фактически полученного количества продукции товарно-сопроводительным документам, Покупатель должен потребовать от перевозчика составления коммерческого акта.<br>
			4.6  В случае поставки продукции, не соответствующей настоящему Договору (не заказанная         продукция), Покупатель обязан незамедлительно уведомить Поставщика о принятии продукции на ответственное хранение, а Поставщик обязан распорядиться указанной продукцией.<br>
	
			<div class="title">5. ОТВЕТСТВЕННОСТЬ СТОРОН</div>
			5.1 В случае неисполнения или ненадлежащего исполнения Договора, виновная сторона несет ответственность в соответствии с законодательством РФ.<br>
			5.2 Неисполнение или ненадлежащее исполнение обязательств по настоящему Договору, вследствие обязательств непреодолимой силы, освобождает стороны от ответственности, если стороны докажут наличие данных обстоятельств. О наступлении обстоятельств непреодолимой силы стороны должны немедленно письменно сообщить другой стороне.<br>
			5.3 При нарушении сроков оплаты товара, Покупатель оплачивает Поставщику пеню из расчета 0,03% от общей стоимости неоплаченного товара за каждый день просрочки.<br>
	
			<div class="title">6. СРОК ДЕЙСТВИЯ ДОГОВОРА</div>
			6.1 Настоящий Договор вступает в силу с момента подписания и действует до 31 декабря 2018 г.<br>
			6.2 По соглашению сторон, настоящий Договор может быть продлен.<br>

			<div class="title">7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</div>
			7.1 Все изменения и дополнения к Договору должны быть зафиксированы письменно и подписаны обеими сторонами.<br>
			7.2 Одностороннее изменение и расторжение Договора возможно только в случаях, предусмотренных ГК РФ.<br>
			7.3 При возникновении споров, стороны должны решать их путем переговоров.<br>
			7.4 При невозможности урегулирования споров путем переговоров, споры разрешаются в арбитражном суде в соответствии с АПК РФ с соблюдением претензионного порядка урегулирования споров.<br>
			7.5 Все предыдущие договоренности между сторонами, относящиеся к поставке продукции, отменяются.<br>
			7.6 Ни одно устное обещание или обязательство, никакие изменения и исправления, внесенные в Договор, не будут иметь силу, если они не зафиксированы в письменной форме и не подписаны уполномоченными лицами обеих сторон.<br>
			7.7  Настоящий Договор составлен в двух экземплярах, имеющих одинаковую юридическую силу.<br>
			7.8 Все документы, поступающие в ходе исполнения данного Договора подлинники, а также по факсимильной связи, имеют юридическую силу.<br>
			7.9 Договор, переданный по факсу, имеет юридическую силу.<br>
		</p>
		<p>
			<div class="title">8. ПОЧТОВЫЕ АДРЕСА И ОТГРУЗОЧНЫЕ РЕКВИЗИТЫ СТОРОН</div>
		</p>
		<table>
			<thead>
				<tr>
					<th>Поставщик:</th>
					<th>Покупатель:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Общество с ограниченной ответственностью  «Красноярский фейерверк»<br>
						Юридический адрес: 660037, г.Красноярск, пр.Красноярский рабочий, д.35,<br>
						ИНН/КПП 2462031159/246201001<br>
						БИК 040407627<br>
						р/с 40702810531280039075<br>
						Красноярское отделение № 8646 ПАО Сбербанк г.Красноярск<br>
						к/сч 30101810800000000627<br>
						Тел./факс: (391)295-89-84<br>
					</td>
					<td>
						{{ params.req2 }}<br>
						Юридический адрес: {{ params.legaddress }}<br>
						ИНН {{ params.inn }}<br>
						БИК {{ params.bik }}<br>
						р/сч {{ params.checkaccount }}<br>
						{{ params.bank }}<br>
						к/сч {{ params.coraccount }}<br>
					</td>
				</tr>
			</tbody>
		</table>
</body>
</html>