{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Лог</h3>
			
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			
			<div class="row">
				<div class="col-md-4">
					<h3><a href="/log/kassir/">Лог кассир</a></h3>
					<p>Лог кассир</p>
				</div>
				
				<div class="col-md-4">
					<h3><a href="/log/kassir/">Лог кассир</a></h3>
					<p>Лог кассир</p>
				</div>
				
				<div class="col-md-4">
					<h3><a href="/log/kassir/">Лог кассир</a></h3>
					<p>Лог кассир</p>
				</div>
			</div>
			
			
		</div>
	</div>
</div>

	</br>

{% endblock %}

