{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}
{% load reporttag %}


<script>
$(document).ready(function() {
	$("#id_goods").chosen({
		placeholder_text_multiple: "Поиск",
		no_results_text: "не найдено",
		search_contains: true,
	});
});
</script>




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Лог кассир</h3>
			
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form id="form_filter" action="/log/kassir/1/" method="get" role="form">
				{# {% csrf_token %} #}

				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				
				{# {% for i in form.visible_fields %} #}




				<div class="bg-success myfilterblock">
					<div class="form-group"> 
					<label>{{ form.shop.label }}</label>
					{{ form.shop }}
					{% if form.shop.errors %}
					<p class="text-danger">{{ form.shop.errors|striptags }}</p>
					{% endif %}
					<p class="help-block">{{ form.shop.field.help_text  }}</p>
					</div>
					<div class="clearfix"></div>
				</div>
				

				
				

				</br>

				<div class="myfilterblock">
					<div class="form-group"> 
						<button type="submit" class="btn btn-success">Применить</button>
						<!-- <a href="#" class="btn btn-success" onclick="$('#form_filter')[0].reset(); return false;">Очистить</a> -->
						<a href="/log/kassir" class="btn btn-success">Сбросить</a>

					</div>
				</div>

			</form>
		</div>
	</div>
</div>	
	
	
	
	
	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

				<table class="table">
					<caption><h4>ЛОГ</h4></caption>
					<thead>
						<tr>
							<th>id</th>
							<th>Дата</th>
							<th>Название</th>
							<th>Описание</th>
							<th>Кассир</th>
						</tr>
					</thead>
					<tbody>
						{% for i in object_list %}
						<tr class="bg-success">
							<td>{{ i.id }}</td>
							<td>{{ i.ctime|date:"SHORT_DATETIME_FORMAT" }}</td>
							<td>{{ i.name }}</td>
							<td>{{ i.desc }}</td>
							<td>{{ i.user }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

	
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h4>Найдено: {{ count }}</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

			<ul class="pagination">
				{% if object_list.has_previous %}
					<li><a href="/log/kassir/{{ object_list.paginator.page_range|first }}?{{ req }}"><i class="icon-double-angle-left"></i>Первая</a></li>
				{% endif %}

				{% if object_list.has_previous %}
					<li><a href="/log/kassir/{{ object_list.previous_page_number }}?{{ req }}"><i class="icon-angle-left"></i>Предыдущая</a></li>
				{% endif %}
				
				{% for p in object_list.paginator.page_range|mypaginatorslice:object_list.number %}
					{% if p != 0 %}
						{% if p == object_list.number %}
								<li class="active"><a href="" onclick="return false;">{{ object_list.number }}</a></li>
							{% else %}
								<li><a href="/log/kassir/{{ p }}?{{ req }}">{{ p }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
					
				{% if object_list.has_next %}
					<li><a href="/log/kassir/{{ object_list.next_page_number }}?{{ req }}">Следующая<i class="icon-angle-right"></i></a></li>
				{% endif %}

				{% if object_list.has_next %}
					<li><a href="/log/kassir/{{ object_list.paginator.page_range|last }}?{{ req }}">Последняя<i class="icon-double-angle-right"></i></a></li>
				{% endif %}
			</ul>

		</div>
	</div>
</div>

{% endblock %}

