{% load bizp %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<h3>
			{% if object.process %}
			<a href="{% url 'bizprocess:bizplist_detail' object.process.id %}">{{ object.process.name }}</a>
			{% endif %}
			
			{% if object.parent %}
			<a href="{% url 'bizprocess:bizpstep_detail' object.parent.id %}">{{ object.parent.name }}</a>
			{% endif %}
			
			{{ object.name }}
			</h3>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-12">
				
			{% if object.head %}
			<div><b>Отв:</b> {{ object.head }}</div>
			{% endif %}
			
			{% if object.bizpstepexecutor %}
			<div><b>Исп:</b> {{ object.bizpstepexecutor }}</div>
			{% endif %}
			
			{% if object.desc %}
			<p>{{ object.desc|linebreaks|safe }}</p>
			{% endif %}

			</h3>
		</div>
	</div>
</div>

</br>

<!-- widget content -->
<div class="container">

	<p>{{ object.fulltext|safe }}</p>

</div>
<!-- end widget content -->

<div class="container">
	<div class="row">
		{% for i in object_list %}
			
			{% if forloop.first %}
				<div class="col-md-12">
					<h4 class="text-center">СТАРТ</h4>
					<div class="text-center"><i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i></div>
				</div>
			{% else %}
				<div class="col-md-12">
					<div class="text-center"><i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i></div>
				</div>
			{% endif %}
		
		
		
			<div class="col-md-12">
				
				<div class="col-md-12 diagram-item" style="background-color: {% if forloop.counter|divisibleby:"2" %}#e1f7e6{% else %}#c0fdce{% endif %};">
					
							
					
					
					
					<h4 class="text-center"><span class="badge badge-secondary">Шаг {{ forloop.counter }}</span> <a href="{% url 'bizprocess:bizpstep_detail' i.id %}">{{ i.name }}</a></h4>
					
					<div class="diagram-item-info">
					<div><b>Отв:</b> {{ i.head }}</div>
					<div><b>Исп:</b> {{ i.bizpstepexecutor }}</div>
					</div>
					
					<div class="row">
						<div class="col-md-12">
								{% getsteplevel2list i as steplevel2list %}
								{% if steplevel2list %}
									<div class="row">
										{% for s in steplevel2list %}
											<div class="col-md-12">
												<div class="col-md-12 diagram-item" style="background-color: white;">
													<a href="{% url 'bizprocess:bizpstep_detail' s.id %}">{{ s.name }}</a>
												</div>
										
											</div>
											<div class="col-md-12">
												<div class="text-center"><i class="fa fa-long-arrow-down" aria-hidden="true"></i></div>
											</div>
										{% endfor %}
									</div>
								{% endif %}
						</div>
					</div>
				</div>
			
			</div>
		
		
		{% comment %}
		{% if forloop.counter|divisibleby:"2" %}
		<!-- 
			</div>
			<div class="row">
			 -->
		{% endif %}
		{% endcomment %}
		
		{% endfor %}
		

		
		
		{% if object_list %}
		{% if nextstep %}
		<div class="col-md-12">
			<div class="text-center"><i class="fa fa-long-arrow-down fa-2x" aria-hidden="true"></i></div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12 diagram-item">
				<h4 class="text-center"><a href="{% url 'bizprocess:bizpstep_detail' nextstep.id %}">след. {{ nextstep.name }}</a></h4>
			</div>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>

{% endblock %}
