{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}






<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Список</h3>
			
			<div class="form-group">
				<a href="/childbook/clear" class="btn btn-warning jqueryconfirm">Очистить</a>
				<a href="/childbook/text" class="btn btn-success" target="_blank">Сформировать список</a>
			</div>
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
				  <tr>
					<th>id</th>
					<th>Родитель</th>
					<th>Ребенок</th>
					<th>Изменить</th>
				  </tr>
				</thead>
				<tbody>
					{% for i in object_list %}
						<tr>
							<td>{{ i.id }}</td>
							<td>
								{{ i.child.buyer.f }} {{ i.child.buyer.i }} {{ i.child.buyer.o }}</br>
								{% if i.child.buyer.male %}
								пол: {{ i.child.buyer.male }}
								{% endif %}
								</br>
								<span class="getphone{{ i.child.buyer.id }}">
								<a href="#" onclick="getphone(this, {{ i.child.buyer.id }}); return false;">{{ i.child.buyer.phone|hidephone }}</a>
								</span>
							</td>
							<td>
								{{ i.child.name }}
								</br>
								{{ i.child.bday|date:"SHORT_DATE_FORMAT" }}
							</td>
							<td>
								<div class="form-group">
									<a href="/childbook/del/{{ i.id }}" class="btn btn-warning btn-sm">Удалить</a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
			

{% include "paginator.html" %}
			
		</div>
	</div>
</div>

{% endblock %}

