{% extends "base.html" %}
{% block title %}Панель управления - изменить событие{% endblock %}
{% block description %}Панель управления - изменить событие{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Изменить событие <small>обзвон клиента {{ object.buyer.id1c }}: {{ object.buyer.f }} {{ object.buyer.i }} {{ object.buyer.o }}, тел: {{ object.buyer.phone|hidephone }}</small></h3>
		</div>
	</div>
</div>

	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			{% include "_form.html" %}
			
			
		</div>
	</div>
</div>
	
	
	
	</br>

{% endblock %}

