{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}
	
	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3>Сертификаты</h3>
			
			<div class="form-group pull-left">
				<a href="{% url 'panel:goodscert_add' %}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
			</div>
			
			<div class="form-group pull-right">
				<a href="{% url 'panel:goodscert_goods' %}" class="btn btn-success">Привязка сертификатов к товарам</a>
			</div>
			
			
			

			<table class="table">
				<thead>
				  <tr>
					<th>id</th>
					<th>Номер</th>
					<th>Дата выдачи/Дата окончания</th>
					<th>Орган выдачи</th>
					<th>Товары</th>
					<th>файл</th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
					{% for i in object_list %}
						<tr>
							<td>{{ i.id }}</td>
							<td>{{ i.name }}</td>
							<td>
								{{ i.datestart|date:"SHORT_DATE_FORMAT" }}
								-
								{{ i.dateend|date:"SHORT_DATE_FORMAT" }}
							</td>
							<td>{{ i.org }}</td>
							<td>
								{% for g in i.goods_set.all %}
									<small>{{ g.name }} <a href="{% url 'panel:goods_edit' g.id %}" target="_blank">[e]</a></small></br>
								{% endfor %}
							
							</td>
							<td>
								{% if i.pdf %}
								<div class="form-group">
									<a download href="{{ i.pdf.url }}" class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i></a>
								</div>
								{% endif %}
							</td>
							<td>
								<div class="form-group">
									<a href="{% url 'panel:goodscert_edit' i.id %}" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
		</div>
	</div>
</div>

{% include "paginator.html" %}

	</br>

{% endblock %}

