{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}



<!-- widget grid -->
<section id="widget-grid" class="">
	
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<h2>Покупатель</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<h3>Покупатель <small>{{ object.id1c }}: {{ object.buyer.f }} {{ object.buyer.i }} {{ object.buyer.o }}, тел: {{ object.buyer.phone|hidephone }}</small></h3>
					

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

			
			
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-2" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Чек</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<div class="table-responsive">
								
							<table class="table table-bordered table-striped1">
								<thead>
									<tr>
										<th>Номер чека</th>
										<th>Дата</th>
										<th>Магазин</th>
										<th>Касса</th>
										<th>Кассир</th>
										<th>Покупатель</th>
										<th>Оплата</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<a href="{% url 'node:check_detail' object.id %}" target="_blank">{{ object.id }}</a> / {{ object.nckkm }} /  {{ object.id1c }}</br>
											{{ object.get_operation_display }}</br>
											{{ object.get_process_display }}</br>
											{{ object.get_methodadd_display }}</br>
										</td>
										<td>{{ object.time|date:"SHORT_DATETIME_FORMAT" }}</td>
										<td>{{ object.shop.name }}</td>
										<td>{{ object.cashbox.name }}</td>
										<td>{{ object.seller }}</td>
										<td>
										<a href="/buyer/detail/{{ object.buyer.id }}">{{ object.buyer.f }} {{ object.buyer.object }} {{ object.buyer.o }}</a>
										</td>
										<td>
											Сумма без скидки: {{ object|reportchecksumnodiscount }}
											</br>
											Сумма скидки: {{ object|reportchecksumdiscount }}
											</br>
											Сумма со скидкой: {{ object|reportchecksum }}
											</br>
											Наличные: {{ object.nal }}
											</br>
											Без Наличные: {{ object.beznal }}
											</br>
											ОплатаБонусы: {{ object.bonuspay }}
											</br>
											НачислениеБонусов: {{ object.bonusadd }}
										</td>
									</tr>
									{% if object.checkitem_set.all %}
									<tr>
										<td colspan="7">
											{% for ci in object.checkitem_set.all %}
												{{ ci.id }} {{ ci.goods.id1c }} <a href="/goods/detail/{{ ci.goods.id }}">{{ ci.goods.name }}</a> {{ ci.price }} р. X {{ ci.col }} {{ ci.unit.value }} = {{ ci.sum }} р.
												
												
												{% if ci.checkd_set.all %}
												<div class="bg-warning">
													{% for cd in ci.checkd_set.all %}
														скидка: {{ cd.discount }} р. <a href="/discount/edit/{{ cd.discounts.id }}">{{ cd.discounts.name }}</a>
													</br>
													{% endfor %}
												</div>
												{% endif %}
												
												
												</br>
											{% endfor %}
										</td>
									</tr>
									{% else %}
									<tr><td colspan="7"></td></tr>
									{% endif %}

								</tbody>
							</table>
							
						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->
			
			
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<h2>JSON</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body">

						<pre>
						{{ object.sourcejson|linebreaks }}
						</pre>
					

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->
			
			
			
			
			
	
		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>

{% endblock %}

