{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}
{% load projecttag %}

<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="well">
		<div class="form-group">
				<a class="btn btn-success" href="{% url 'project:project_add' %}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить проект</a>
		</div>
	</div>
	
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

		
		

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Проекты</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
							
							{% comment %} <div class="dt-toolbar">
								<div class="col-xs-12 col-sm-6">
									<div id="example_filter" class="dataTables_filter">
										<label>
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-search"></i>
											</span>
											<input type="search" class="form-control" placeholder="" aria-controls="example">
										</label>
									</div>
								</div>
								<div class="col-sm-6 col-xs-12 hidden-xs">
									<div class="dataTables_length" id="example_length">
										<label>Show
											<select name="example_length" aria-controls="example" class="form-control input-sm">
												<option value="10">10</option>
												<option value="25">25</option>
												<option value="50">50</option>
												<option value="100">100</option>
											</select> entries</label>
									</div>
								</div>
							</div> {% endcomment %}

							<table id="example" class="display projects-table table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0"
							 width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
								<thead>
									<tr role="row">
										<th class="details-control sorting_disabled" rowspan="1" colspan="1" style="width: 18px;" aria-label=""></th>
										<th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 191px;">Название</th>
										<th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 63px;">
											<i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Выполнено</th>
										<th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 63px;">Участники</th>
										<th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50px;">Статус</th>
										<th tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 43px;">
											<i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i> Начало</th>
										<!-- <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 48px;"
										 aria-label="Tracker: activate to sort column ascending">Tracker</th> -->
									</tr>
								</thead>
								<tbody>
									{% for i in object_list %}
									<tr role="row" class="odd" id="id_project_{{i.id}}_show_detail_row">
										<td id="id_project_{{i.id}}_show_detail_button" class="details-control"></td>
										<td class="sorting_1">
										
											<a href="{% url 'project:project_detail' i.id %}">
											{{ i.name }}
											</a>
										
										
											<br>
											<small class="text-muted">
												<i></i>Планируемый бюджет: {{ i.plansum |floatformat:2 }}
													<i></i>
												</i>
											</small>
										</td>
										<td>
											{% project_completion_percents i as percentage%}
											<div class="progress progress-xs" data-progressbar-value="{{ percentage|floatformat:"0" }}">
												<div class="progress-bar"></div>
											</div>
										</td>
										<td>
											<div class="project-members">
												{% for e in i.executor.all %}
												
												{% getprofileuser e.user.id as profileuser %}
												{% if profileuser.photo %}
												<a href="javascript:void(0)" title="{{ e.user.first_name }} {{ e.user.last_name }}"><img src="{{ profileuser.photosmall.url }}" class="away" /></a>
												{% else %}
												<a href="javascript:void(0)" title="{{ e.user.first_name }} {{ e.user.last_name }}"><img src="/static/img/nophoto.png" class="away" /></a>
												{% endif %}

												{% endfor%}
											</div>
										</td>
										<td>
											{% if i.status == 'created' %}
												<span class="label label-primary">{{ i.get_status_display }}</span>
											{% elif i.status == 'archived' %}
												<span class="label label-default">{{ i.get_status_display }}</span>
											{% else %}
												<span class="label label-success">{{ i.get_status_display }}</span>
											{% endif %}
										</td>
										<td>{{ i.cdate|date:"SHORT_DATE_FORMAT" }}</td>
										<!-- <td>
											<span class="onoffswitch">
												<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="st6">
												<label class="onoffswitch-label" for="st6">
													<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
													<span class="onoffswitch-switch"></span>
												</label>
											</span>
										</td> -->
									</tr>
									<tr id="id_project_{{i.id}}_detail_menu" hidden>
										<td colspan="9">
											<table cellpadding="5" cellspacing="0" border="0" class="table table-hover table-condensed">
												<tbody>
													<tr>
														<td style="width:100px">Название проекта:</td>
														<td>{{ i.name }}
															<br>
															<small class="text-muted">
																<i>Планируемый бюджет: {{ i.plansum|floatformat:2  }}
																	<i></i>
																</i>
															</small>
														</td>
													</tr>
													<tr>
														<td>Создатель проекта:</td>
														<td>
															<strong>{{i.user|who}}</strong>
														</td>
													</tr>
													<tr>
														<td>Начало:</td>
														<td>
															{{i.cdate|date:"SHORT_DATE_FORMAT"}}
														</td>
													</tr>
													<tr>
														<td>Описание:</td>
														<td>{{ i.desc }}</td>
													</tr>
													{% comment %}
													<tr>
														<td>Последний комментарий:</td>
														<td>{{ i.projectcomment.last.user|who }}: "{{ i.projectcomment.last.value }}"</td>
													</tr>
													{% endcomment %}
													<tr>
														<td>Число комментариев:</td>
														<td>{{i.projectcomment.count}}</td>
													</tr>
													<tr>
														<td>Действия:</td>
														<td>
															{% if object.user == request.user %}
																<div class="form-group">
																	<a class="btn btn-success" href="{% url 'project:project_edit' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать</a>
																</div>
															{% endif %}
															<div class="form-group">
																<a class="btn btn-success" href="{% url 'project:project_detail' i.id %}"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Подробнее</a>
															</div>
															<!-- <button class="btn btn-xs">Open case</button>
															<button class="btn btn-xs btn-danger pull-right" style="margin-left:5px">Delete Record</button>
															<button class="btn btn-xs btn-success pull-right">Save Changes</button> -->
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
									<script>
										$('#id_project_{{i.id}}_show_detail_button').on('click', () => {
											$('#id_project_{{i.id}}_detail_menu').toggle();
											$('#id_project_{{i.id}}_show_detail_row').toggleClass('shown'); 
										});
									</script>
									{% endfor %}
								</tbody>
							</table>
							
							{% comment %} <div class="dt-toolbar-footer">
								<div class="col-sm-6 col-xs-12 hidden-xs">
									<div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 15 of 15 entries</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
										<ul class="pagination">
											<li class="paginate_button previous disabled" id="example_previous">
												<a href="#" aria-controls="example" data-dt-idx="0" tabindex="0">Previous</a>
											</li>
											<li class="paginate_button active">
												<a href="#" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>
											</li>
											<li class="paginate_button next disabled" id="example_next">
												<a href="#" aria-controls="example" data-dt-idx="2" tabindex="0">Next</a>
											</li>
										</ul>
									</div>
								</div>
							</div> {% endcomment %}

						</div>

					</div>
					<!-- Старая версия шаблона -->
					<!-- <br><br>
					<div class="widget-body no-padding">
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>Название</th>
										<th>Статус</th>
										<th>Планируемый бюджет, <i class="fa fa-rub" aria-hidden="true"></i></th>
										<th>Участники</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for i in object_list %}
									<tr>
										<td><a href = "{% url 'project:project_detail' i.id %}">{{ i.id }}</a></td>
										<td>{{ i.name }}</td>
										<td>
											{% if i.status == 'created' %}
												<span class="label label-primary">{{ i.get_status_display }}</span>
											{% elif i.status == 'archived' %}
												<span class="label label-default">{{ i.get_status_display }}</span>
											{% else %}
												<span class="label label-success">{{ i.get_status_display }}</span>
											{% endif %}
										</td>
										<td>{{ i.plansum |floatformat:2 }}</td>
										<td>{% for e in i.executor.all %} {{ e }}</br> {% endfor%}</td>
										<td>
											{% if object.user == request.user %}
											<div class="form-group">
												<a class="btn btn-success" href="{% url 'project:project_edit' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать</a>
											</div>
											{% endif %}
											<div class="form-group">
												<a class="btn btn-success" href="{% url 'project:project_detail' i.id %}"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Подробнее</a>
											</div>
										</td>
									
									</tr>
									
									
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div> -->
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>


{% include "paginator.html" %}

{% endblock %}

