{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}



<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<caption>
					<h3>
						Идеи
						<a href="/useridea/add/" class="btn btn-success">Предложить свою идею</a>
					</h3>
					
				</caption>
				<thead>
					<tr>
						<th></th>
						<th>Создатель</th>
						<th>Заголовок</th>
						<th>Описание</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for i in object_list %}
						<tr>
							<td>
								<a href="/useridea/detail/{{ i.id }}">{{ i.id }}</a>
							</td>
							<td>
								{{ i.user.first_name }} {{ i.user.last_name }}
								</br>
								{{ i.ctime|date:"SHORT_DATETIME_FORMAT" }} 
							</td>
							<td>
								<a href="/useridea/detail/{{ i.id }}">{{ i.name }}</a>
							</td>
							<td>
								{{ i.message|truncatechars:100 }}
								
								{% if i.fileidea_set.all %}
									</br>
									<span class="text-muted">файлов: {{ i.fileidea_set.all.count }}</span>
								{% endif %}
								
								{% if i.likeidea_set.all %}
									<div>
									<span class="text-muted">Пользователи оценили идею ({{ i.likeidea_set.all.count }} голоса(ов))</span>
									<table class="table table-condensed">
										<thead>
										  <tr>
											<th></th>
											<th></th>
										  </tr>
										</thead>
										<tbody>
											{% for lt in i.likeidea_set.all %}
												<tr>
													<td>{{ lt.user.first_name }} {{ lt.user.last_name }}</td>
													<td>{{ lt.value|ratingstar }} </td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
									</div>
								{% endif%}

								{% if i.commentidea_set.all %}
									<div class="thumbnail">
										<i class="fa fa-user" aria-hidden="true"></i> {{ i.commentidea_set.all.last.user.first_name }} {{ i.commentidea_set.all.last.user.last_name }} <small class="text-muted">последний комментарий {{ i.commentidea_set.all.last.ctime|date:"SHORT_DATETIME_FORMAT" }}</small>
										</br>
										<i class="fa fa-commenting-o" aria-hidden="true"></i> {{ i.commentidea_set.all.last.message|safe|truncatechars:"40" }}
										</br>
										<a href="/useridea/detail/{{ i.id }}">смотреть все комментарии: {{ i.commentidea_set.all.count }}</a>
									</div>
								{% endif %}
							</td>
							<td>
								<div class="form-group">
									<a href="/useridea/detail/{{ i.id }}" class="btn btn-success btn-xs">подробнее</a>
								</div>
							</td>
						</tr>
					{% empty %}
						<tr><td colspan="100%">нет записей</td></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% include "paginator.html" %}

	
	
	
	</br>

{% endblock %}

