{% load nodetag %}

{% load corpmailtag %}
<ul>
<!-- 	<li>
		<a href="/" title="Главная"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Главная</span></a>
	</li> -->
	{% for i in data %}
	<li class="{% if i.select %}active{% endif %}">
		<a href="{{ i.url }}" title="{{ i.name }}">{{ i.icon|safe }} <span class="menu-item-parent">{{ i.name }}</span>
		
		{% if i.url == '/corpmail/inbox/' %}
			{% unread_letters as unreadcount %}
			{% if unreadcount %}
				<span class="badge pull-right inbox-badge margin-right-13">
				{{ unreadcount }}
				</span>
			{% endif %}
		{% endif %}

		</a>
		{% if i.sub %}
 		<ul>
			{% for c in i.child %}
			<li class="{% if c.select %}active{% endif %}">
				<a href="{{ c.url }}" title="{{ c.name }}"><span class="menu-item-parent">{{ c.name }}</span></a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
</ul>