{% load nodetag %}
{% if is_paginated %}

	Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</br>
<ul class="pagination">
	{% if page_obj.has_previous %}
		<li><a href="?page={{ page_obj.paginator.page_range|first }}"><i class="icon-double-angle-left"></i>Первая</a></li>
	{% endif %}

	{% if page_obj.has_previous %}
		<li><a href="?page={{ page_obj.previous_page_number }}"><i class="icon-angle-left"></i>Предыдущая</a></li>
	{% endif %}
	
	{% for p in page_obj.paginator.page_range|mypaginatorslice:page_obj.number %}
			{% if p == page_obj.number %}
				<li class="active"><a href="#">{{ page_obj.number }}</a></li>
			{% else %}
				<li><a href="?page={{ p }}">{{ p }}</a></li>
			{% endif %}
	{% endfor %}
		
	{% if page_obj.has_next %}
		<li><a href="?page={{ page_obj.next_page_number }}">Следующая<i class="icon-angle-right"></i></a></li>
	{% endif %}

	{% if page_obj.has_next %}
		<li><a href="?page={{ page_obj.paginator.page_range|last }}">Последняя<i class="icon-double-angle-right"></i></a></li>
	{% endif %}
</ul>
{% endif %}