{% extends "base.html" %}
{% block title %}Панель управления{% endblock %}
{% block description %}Панель управления{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

{% load nodetag %}
{% load normacttag %}

<!-- widget grid -->
<section id="widget-grid" class="">
	<div class="well">
		<div class="form-group">
			<a class="btn btn-success" href="{% url 'normact:normact_add' %}"><i class="fa fa-plus" aria-hidden="true"></i> Добавить нормативный акт</a>
		</div>
	</div>
	
	<!-- START ROW -->
	<div class="row">

		<!-- NEW COL START -->
		<article class="col-sm-12 col-md-12 col-lg-12">

		
		

			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Нормативные акты</h2>
				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						<div class="table-responsive">
						
						{% normact_choices as ichoices %}
						{% for index, choice in ichoices%}
							<a class="btn btn-success" href="{% url 'normact:normact_list' %}/?type={{index}}">{{ choice }}</a>
						{% endfor %}

							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>Название</th>
										<th>Тип</th>
										<th>Комментарий</th>
										<th>Файл</th>
										<th width="25%"></th>
									</tr>
								</thead>
								<tbody>
									{% for i in object_list %}
									<tr>
										<td>{{ i.id }}</td>
										<td>{{ i.name }}</td>
										<td>{{ i.get_choice_display}}</td>
										<td>{{ i.comment }}</td>
										<td><a href="{{ i.file.url }}" target="_blank" download="{{ i.name }}"><i class="fa fa-paperclip fa-2x" style="" aria-hidden="true"></i><br>{{ i.name }}</a></td>
										<td>
											<div align="left" style="position: relative;">
												<a class="btn btn-success" href="{% url 'normact:normact_edit' i.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать</a>
												<a class="btn btn-danger" color="gray" href="{% url 'normact:normact_del' i.id %}"><i class="fa fa-remove"></i> Удалить</a>
											</div>					
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						
						</div>
					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
		<!-- END COL -->

	</div>

	<!-- END ROW -->
</section>



{% endblock %}

