{% extends "screenbase1.html" %}
{% block title %}CRM{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block bodystyle %}
	{% if not user.is_authenticated %}
		class="nocursor"
	{% endif %}
{% endblock %}



{% block content %}

{% load imagekit %}
{% load nodetag %}


<div class="container">
<!-- Modal -->
<div id="modalsort" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
<!-- 			<div class="modal-header">
				<h4 class="modal-title">Сортировать товары по:</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div> -->
			<div class="modal-body text-center">
				<h4 class="modal-title">Сортировать товары по:</h4>
				</br>
				<div class="form-group">
					<a href="/screen1/list/{{ tax.id }}/sort.name/" class="btn btn-primary btn-block btn-lg">
					НАИМЕНОВАНИЕ
					</a>
				</div>
				
				<div class="form-group">
					<a href="/screen1/list/{{ tax.id }}/sort.price/" class="btn btn-primary btn-block btn-lg">
					ЦЕНА
					</a>
				</div>
				
				<div class="form-group">
					<a href="/screen1/list/{{ tax.id }}/sort.a/" class="btn btn-primary btn-block btn-lg">
					КОЛИЧЕСТВО ЗАРЯДОВ
					</a>
				</div>
				
				<div class="form-group">
					<a href="/screen1/list/{{ tax.id }}/sort.b/" class="btn btn-primary btn-block btn-lg">
					ПРОДОЛЖИТЕЛЬНОСТЬ
					</a>
				</div>
				
				<div class="form-group">
					<a href="/screen1/listsearch" class="btn btn-primary btn-block btn-lg">
					<i class="fa fa-search" aria-hidden="true"></i>
					</a>
				</div>
				
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-lg btn-block" data-dismiss="modal">Закрыть</button>
			</div>

		</div>

	</div>
</div>
</div>

<div class="wrapper">

	<div class="container-fluid height100">
		<div class="row height100">
		
			<div class="col-lg-3 left-menu">

				</br>
				<h1 class="c1 text-uppercase">Перейти в категорию:</h1>

				
				
				
				<ul class="list-unstyled height100">
				{% for i in leftmenu %}
				<a href="/screen1/list/{{ i.id }}" class="text-uppercase">
				<li class="{% if i.id == tax.id %}active{% endif %}">
					
					{{ i.name }}
					
				</li>
				</a>
				{% endfor %}
				</ul>
				
				<div class="clingbottom">
					
					<div class="form-group">
						<a href="#" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#modalsort">
							<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
							<i class="fa fa-long-arrow-down" aria-hidden="true"></i>
							Сортировать товары
						</a>
					</div>
					
					<div class="form-group">
						<a href="/screen1/" class="btn btn-warning btn-block btn-lg"><i class="fa fa-home" aria-hidden="true"></i> На главную</a>
					</div>
				
				</div>

				
				
			
			</div>
			
						
			<script>
			$(document).ready(function() {
				$('.owl-carousel').owlCarousel({
				loop:false,
				margin:10,
				nav:true,
				navSpeed: 1500,
				navText: ['<i class="fa fa-angle-double-left" aria-hidden="true"></i> назад', 'вперед <i class="fa fa-angle-double-right" aria-hidden="true"></i>'],
				responsive:{
					0:{
						items:1
					},
					600:{
						items:1
					},
					1000:{
						items:1
					}
				}
			})
			});
			</script>
			
			
			
			
			<div class="col-lg-9 owl-carousel owl-theme">


				<div class="row item">
					{% for i in object_list %}


					<div class="col-lg-6">
						<div class="good-item">
							
							<div class="row">
								<div class="col-lg-12">
									<h1>{{ i.bname }}</h1>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-4">

									{% if  i.pict %}
									<img class="mainimg" src="{{ i.pictdevlist.url }}" />
									{% else %}
									<img class="mainimg" src="/static/screen1/img/noimage180.jpg" />
									{% endif %}
						
									<div class="spec">
									{% proplist2 i.id as prop2 %}
									{% for p in prop2 %}
									<img src="/static/screen/img/{{ p.properties.code }}.png" />
									</br>
									{% endfor %}
									</div>

								</div>
								

								<div class="col-lg-8">

									<span class="text-muted">Цена:</span>
									<span class="text-warning price">{{ i.price|floatdot:0 }} р.</span>
									</br>
									<span class="badge badge-info">товар серцифицирован</span>
									<span class="badge badge-default">{{ i.id }}</span>
									<span><i class="fa fa-eye" aria-hidden="true"></i> {{ i.showvideocount }}</span>
									</br>
									
									
									<div class="info">
									{% proplist i.id as prop %}
									{% for p in prop %}
										<div>
											<span class="pname">{{ p.name }}:</span>
											<span class="pvalue">
										
											{% if p.multiple %}
												{% for pv in p.value %}
													{{ pv }}
												{% endfor %}
											{% else %}
												{{ p.value }}
											{% endif %}
											
											
											
											{{ p.baseunit }}
											</span>
										</div>
									{% endfor %}
									
									{% if i.nabor %}
										
										<div>
											<span>В НАБОР ВХОДЯТ:</span>
											</br>
											
											{% naborlist i.id as nres %}
											{% for ne in nres %}
												<span><b>- {{ ne.bname }}{% if forloop.last %}...{% endif %}</b></span>
												
												
												
												</br>
											{% endfor %}
										
										</div>
									
									{% else %}
										{{ i.desc|striptags|truncatechars:70 }}
									{% endif %}
									</div>
									
									


								</div>

								
								<!-- проверяем если товар набор -->
								{% if i.nabor %}
									<a href="#" class="shownabor" data-toggle="modal" data-target="#modalnabor{{ i.id }}">
										<img src="/static/screen/img/open.png" />
									</a>
								{% endif %}
								{% if i.video %}
									<a href="#" class="showvideo" data-video-source="{{i.video}}" onclick="rvideo(this); showvideocount('{{i.id}}');">
										<img src="/static/screen/img/video.png" />
									</a>
								{% endif %}
							</div>
							
						</div>
					</div>

					{% comment %}
					
					<!-- Modal -->
					<div class="modal fade" id="modalnabor{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="modalnabor{{ i.id }}" aria-hidden="true">
					  <div class="modal-dialog" role="document">
						<div class="modal-content" style="width: 1100px; margin-left: -300px;">
						  <div class="modal-body">
							
							<h2 class="text-center">{{ i.bname }}</h2>
							</br>

							{% if i.nabor %}
							<div class="setItems">
								<div class="row">
								{% naborlist i.id as nres %}
								{% for ne in nres %}
								
								<div class="sitem col-lg-3">
									<div class="photo">

										{% if ne.pict %}
										<img class="mainimg" src="{{ ne.pictdevlist.url }}" />
										{% else %}
										<img class="mainimg" src="/static/screen/img/noimage180.jpg" />
										{% endif %}
										
										{% if ne.video %}
										<a href="#" class="video"  data-video-source="{{ne.video}}" onclick="rvideo(this); return false;"><img src="/static/screen/img/video.png"></a>
										{% endif %}
									</div>
									<!-- <div class="cat">Средние батареи салютов</div> -->
									<div class="title">{{ ne.bname }}</div>
								</div>
								
								{% endfor %}
								</div>
							</div>
							{% endif %}
						  </div>
						  <div class="modal-footer">
							<button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Закрыть</button>
						  </div>
						</div>
					  </div>
					</div>
					{% endcomment %}
					
					
					{% if not forloop.last %}
					
						{% if forloop.counter|divisibleby:6 %}
						</div>
						<div class="row item">
						{% endif %}
					{% endif %}
					
					{% endfor %}
				</div>



			{% include "screenpaginator1.html" %}
		
			</div>
			
		</div>
	</div>

</div>
{% endblock %}